/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

h2 {margin-top:40px}
h2:before {content:"["}
h2:after {content:"]"}

h3 {padding-top:20px;font-size:140%}

p {margin-top:10px;margin-bottom:10px}

#prev-next-nav {font-size:80%}
#article-info {font-size:80%}
#widgets h1{font-size:160%}
#widgets a{font-size:80%}

.fb_iframe_widget > span {
	  vertical-align: baseline !important;
}

img {
  max-width:100%;
  height:auto;
}

#toc {
  background-color: white;
  margin: 0;
}
